<h1>This is <%=@user.name%>'s page<h1>
<p>These are his author recipes:</p>
<%@user.recipes do |r|%>
    <%=r%>
<%end%>

<%= link_to 'Delete User', @user, method: :delete, data:{confirm: 'delete user?'}%>