<h1>Ingredients</h1>

<h4>Search by Ingredients:</h4>
    <%= form_tag(ingredients_path method: :get) do %>
        <%= text_field_tag (:search,params[:search]) %>
    <%= submit_tag 'Search' %>
    <% end %>

    <%@ingredients.each do |ing|%>
        <ul>
        <li><%= link_to ing.name, ingredient_path(ing) %></li>
        </ul>
    <%end%>
